body {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(236, 236, 236);
    height: 80vh;
}
.container { 
    background-color: white;
    margin: 50px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
}
h2 { 
    color:white;
    background-color: rgb(70, 198, 207);
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 30px;

}


input {
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.submitButton {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #4cae4c;
}

li .deleteButton{
    background-color:salmon;
    color: white;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    cursor: pointer;
}

li .deleteButton:hover {
    background-color: rgb(255, 113, 98);
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

li {
  font-family: Arial;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.checkButton{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(70, 198, 207);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.checkButton.checked {
    background-color:rgb(70, 198, 207);
    position: relative;
}

.checkButton.checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3px;
    bottom: 1px;
}

#clearAllButton {
    padding: 10px;
    background-color: salmon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearAllButton:hover {
    background-color: rgb(255, 113, 98);
}

.completed {
    text-decoration: line-through;
    color: #6d6d6d;
}
